@keyframes wipeVertical {
    from {
        min-height: 1rem;
        max-height: 0rem;
    } to {
        min-height: 21rem;
    }
}

@keyframes wipeHorizontal {
    from {
        min-width: 1rem;
        // max-height: 0rem;
    } to {
        min-width: 21rem;
    }
}


.crossing-line {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    // width: 0.8rem;
    // max-height: 0rem;
    margin-top: 1rem;
    margin-left: 4rem;
    z-index: 3000;
    border-radius: 1rem;
    // max-height: 5rem;
    // min-height: 21rem;

}

#vertical {
    width: 0.8rem;
    min-height: 0rem;
    transition: min-height 0.3s ease;
    animation: wipeVertical 0.3s forwards;
}

#horizontal {
    top: 0;
    left: -2rem;
    height: 1rem;
    min-width: 0rem;
    animation: wipeHorizontal 0.3s forwards;
}

#slanted-left {
    transform: rotate(-45deg);
    top: -1.5rem;
    left: 9rem;
    width: 0.8rem;
    height: 28rem;
    min-width: 0rem;
    animation: wipeVertical 0.3s forwards;
}

#slanted-right {
    transform: rotate(45deg);
    top: -3rem;
    left: 9rem;
    width: 0.8rem;
    height: 28rem;
    min-width: 0rem;
    animation: wipeVertical 0.3s forwards;
}



// .active {
//     transition: all 0.3s ease;
//     min-height: 21rem;
// }